body {
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  font-size: 40px;
}

img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.formBox{
  text-align: center;
}

#btn {
  padding: 10px;

}